<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup><applicationSettings>
        <Client.Properties.Settings>
            <setting name="PublicKey" serializeAs="String">
                <value>&lt;RSAKeyValue&gt;&lt;Modulus&gt;7JOWqJNpEXahEQj5riBSplfIdREnO7kZQlBIo2aEXEdSk/lsu1Q2BfrJMT6/E7T4sPYE+jh72zkVsP75DhwSanfZHy1lnRk0LDC/KG1wVmWYUyRXCZB1hKhWKrwqFNWiXKysPNuhB1CzpSd1u66H26cSEu5g7vdeLHcKawTrZu3+IHF4vutOeivc0ibO4+Q9p9Q6oseWOfJ6xJkm3RdwaeOU0GwVH5H1NBbZuvQyPErrQYTb9l/gVSsASt4UEyE1sVtPeZTuwAI3nkdq6PJAmKnHsV2Zl2bsbGLK5tPpk6YIdKxJ5chWgNq/4m+n0Hq9iHY0Ofxuz66v8gWd9cRziw==&lt;/Modulus&gt;&lt;Exponent&gt;AQAB&lt;/Exponent&gt;&lt;/RSAKeyValue&gt;</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>443</value>
            </setting>
        </Client.Properties.Settings>
    </applicationSettings>
</configuration>